<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Le pizze</h1>
	<a th:href="@{/pizzas/create}">Create new Pizza</a>
	<form th:action="@{/pizzas/by/name}" method="POST">
		<label>Nome Pizza</label>
		<input type="text" name="name" th:value="${name}">
		<br>
		<input type="submit" value="search">
	
	</form>
	<ul th:if="${pizzas}">
  <li
  
  	th:each="pizza : ${pizzas}";
  	th:object="${pizza}"
  > 
  	[[*{name}]]
  	<img width="200px" height="150px" th:src="*{url}">
  	[[*{description}]]
  	[[*{price}]]
  </li>
</ul>

</body>
</html>